.world {
    display: block;
    width: 100%;
    height: 100%;

    perspective: 1000px;
    transform-origin: center;
    transform-style: preserve-3d;

    overflow: hidden;
    background: peru;
    filter: blur(0.2px);

}

.world-object {
    position: absolute;
}