.excerpt {

    &__date {
        font-size: 0.7em;
    }

    &__title {
        margin: .25em 0;
        font-size: 50px;
        text-align: center;
        word-break: break-word;
    }

    &__body {
        max-height: 8em;
        border-top: .25em solid #a0a0a0;
        overflow: hidden;

        p {
            margin: .25em 0;
            white-space: normal;
            word-break: break-word;
        }
    }
}