/**
 * #######################################################
 *                  Variables
 * #######################################################
 **/

/// Primary Colors
$primary-fg-color: #90adff;
$primary-bg-color: #111111;

/// Secondary Colors
$secondary-fg-color: #44dd99;
$secondary-bg-color: #10104b;

/// Info Colors
$info-fg-color: #ffffff;
$info-bg-color: #303030;

/// Terziary Colors
