/**
 * #######################################################
 *                  Variables
 * #######################################################
 **/

/// Primary Colors
$primary-fg-color: #90adff;
$primary-bg-color: black;

/// Secondary Colors
$secondary-fg-color: #1cff1c;
$secondary-bg-color: rgb(1, 1, 102);

/// Info Colors
$info-fg-color: white;
$info-bg-color: rgb(41, 41, 41);


/// Terziary Colors