/**
 * #######################################################
 *                  Variables
 * #######################################################
 **/

 /// Primary Colors
$primary-fg-color: blue;
$primary-bg-color: black;

/// Secondary Colors
$secondary-fg-color: #22CC22;
$secondary-bg-color: blue;

/// Info Colors
$info-fg-color: white;
$info-bg-color: rgb(41, 41, 41);


/// Terziary Colors