.monitor {
    background: black;
    overflow-x: hidden;

    &__light-filter {
        background: repeating-linear-gradient(0deg, black 0px, #4CAF50 2px, black 4px);
        overflow-x: hidden;
        overflow-y: auto;
    }

    &__activated-filter {
        grid-area: monitor;
        display: flex;
        width: 100%;
        border: solid darkblue 2px;
        box-sizing: border-box;

        filter: blur(1.3px);
        mix-blend-mode: multiply;
        background: #000a00;

        color: #00ff0a;
        font-size: 42px;
        font-weight: bold;

        flex-flow: column;
    }
}

#content {
    display: flex;
    height: 100%;
    width: 100%;

    padding: 2%;
}