/**
 * #######################################################
 *                  General-Header
 * #######################################################
 **/

header {
    background: $primary-bg-color;

    h1 a {
        color: $primary-fg-color;

        &:hover,
        &:visited {
            color: $primary-fg-color;
            text-decoration: none;
        }
    }
}
