/**
 * #######################################################
 *                  Site-Branding
 * #######################################################
 **/
@import "../../general/variables.scss";

.site-branding {
    text-align: center;
    background: darken($primary-bg-color, 10%);

    .site-description {
        background: $info-bg-color;
        color: $info-fg-color;
    }
}
