/**
 * #######################################################
 *                  General-Header
 * #######################################################
 **/

header {
    background: darken($primary-bg-color, 20%);

    h1 a {
        color : lighten($primary-fg-color, 0%);

        &:hover, &:visited {
            color : lighten($primary-fg-color, 0%);
            text-decoration: none;
        }
    }
}