.archive {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    &__item {
        display: flex;
        background-color: $secondary-bg-color;
        color: $secondary-fg-color;
        border: $secondary-fg-color solid 3px;
        margin: 5px;
        font-size: 0.8em;
        width: 200px;
        height: 100px; 
        overflow: hidden;
        text-align: center;
        &__title {
            margin: auto 0;
            text-align: center;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
}