.archive {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    &__item {
        display: flex;
        width: 200px;
        height: 100px;
        border: $secondary-fg-color solid 3px;
        margin: 5px;

        color: $secondary-fg-color;
        background-color: $secondary-bg-color;
        font-size: 0.8em;

        text-align: center;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        &__title {
            margin: auto 0;
            text-align: center;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
}
